@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 240 5% 96%;
    --card: 240 6% 10%;
    --card-foreground: 240 5% 96%;
    --popover: 240 6% 10%;
    --popover-foreground: 240 5% 96%;
    --primary: 16 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 240 5% 96%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 16%;
    --accent-foreground: 240 5% 96%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 25%;
    --input: 240 4% 25%;
    --ring: 16 100% 50%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#09090B] text-zinc-100;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  [data-debug-wrapper="true"] {
    display: contents !important;
  }
  [data-debug-wrapper="true"] > * {
    margin-left: inherit;
    margin-right: inherit;
    margin-top: inherit;
    margin-bottom: inherit;
    padding-left: inherit;
    padding-right: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    gap: inherit;
    border-width: inherit;
    border-style: inherit;
    border-color: inherit;
  }
}
